<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>mitnadv</title>
  </head>
  <body>
    <div>
      <h2>detail mitnadv</h2>
      <p>f_name: {{ mit.f_name }}</p>
      <p>l_name: {{ mit.l_name }}</p>
      <p>gander: {{ mit.get_gander_display }}</p>
      <p>age: {{ mit.age }}</p>
      <p>phone: {{ mit.phone }}</p>
      <p>address: {{ mit.address }}</p>
      <p>email: {{ mit.email }}</p>
      <p>time start: {{ mit.time_start }}</p>

      <p>
        image: <img src="{{ mit.image.url }}" alt="" height="50" width="auto" />
      </p>
    </div>
    <br />
    <h2>other</h2>
    <div>
      <p>snif: {{ mit.snif }}</p>
      <p>money_m: {{ mit.money_for_month }}</p>

      <h2>time</h2>
      <p>time start {{ mit.time_start }}</p>
      <p>time end {{ mit.time_end }}</p>

      <h2>pay for x mounth</h2>
      <form action="" method="POST">
        {% csrf_token %}
        <input type="number" name="num-month" />
        <input type="submit" value="submit" />
      </form>

      <p>{{ money_calc }}</p>

      <h2>pay for year</h2>
      <p>{{ money_for_year }}</p>

      <h2>Gifts to use</h2>
      <form method="POST">
        {% for gift in mit.gifts.all %}

        <input type="checkbox" name="check" value="{{ gift }}" />

        {{ gift }}
        
        <br />

        {% endfor %}
        <input type="submit" />
        {% csrf_token %}
      </form>

      <h3>mitnadv use:</h3>
      {% for check in check_boxs %} {% if None %} false {% endif %}

      <p>{{ check }}</p>

      {% endfor %}

      <h3>next or pre mit</h3>
      {% if pre_mit %}
      <a><a href="/mit/{{pre_mit.pk}}">pre</a></a>
      {% endif %}

      {% if next_mit %}
      <a><a href="/mit/{{next_mit.pk}}">next</a></a>
      {% endif %}

      <h3>back to list</h3>
      <a href="{% url 'mitnadvim-list' %}">to list</a>

    </div>
  </body>
</html>
