<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>mitnadv</title>
    <style>
      div {
        border: solid 1px;
        max-width: 200px;
      }
    </style>
  </head>
  <body>
    {% for mit in all_mit %}
      
    <div>
      <h3><a href="/mit/{{mit.id}}">name:{{mit.f_name}} </a></h3>
      <img src="{{mit.image.url}}" alt="" height="100" width="auto">
      <br>
      <a href="/snif/{{mit.snif.id}}">snif: {{mit.snif}}</a>
    </div>
    <br>
    {% endfor %}

    <div>
      <h2>pay for mounth for all:</h2> <p> {{sum_month}}</p>
      <h2>pay for mounth for year: </h2> <p>{{sum_year}}</p>
    </div>

    <form action="{% url 'mitnadvim-list' %}" method="GET"> 
      <select name="filter">
        <option value="all">all</option>
        {% for snif in snifs  %}
        <option value="{{snif.name}}" >{{snif.name}}</option>
        {% endfor %}
      </select>
      <input type="submit" value="submit">
    </form>

    <h3>add mitnadv</h3>
    <a href="{% url 'mitnadv-create'%}">add</a>



  </body>
</html>
